
:root{
	--font-family: 'Dancing Script', cursive;
}

body{
	font-family: 'Roboto', sans-serif;
	font-family: 'Margarine', cursive;
	font-family: 'Dancing Script', cursive;
	font-family: 'Dosis', sans-serif;
}
html{
	font-family: 'Dosis', sans-serif;
}
ul{
	margin: 0px;
	padding: 0px;
}
img{
	max-width: 100%;
}
.box-container{
	max-width: 1470px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.btn-default{
	background: #f65050;
	color: #fff!important;
	min-width: 110px;
	cursor: pointer;
	font-size: 18px;
	box-shadow: none!important;
}
.sm-gutters {
  margin-right: -5px;
  margin-left: -5px;
}
.sm-gutters > .col, .sm-gutters > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.pagination{
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.pagination li{
	display: inline-block;
}
.pagination li a{
	display: inline-block;
	height: 32px;
	width: 32px;
	color: #262626;
	font-size: 18px;
	line-height: 1.7;
	text-decoration: none;
	-webkit-border-radius: 100%;
}
.pagination li a.active{
	border: 1px solid #000;
}
.pagination li a.next{
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 2.4;
}
/*--------------- Customize Area ----------------*/
.sample-details{
	margin-bottom: 50px;
}
.sample-details-top{
	text-align: center;
	margin-bottom: 30px;
    padding-top: 50px;
    border-top: 1px solid #555;
}
.sample-details-top h3{
	margin-bottom: 10px;
}
.sample-details-top button:nth-child(2){
	background: rgb(7, 52, 100);
	margin-right: 5px;
}
.sample-details-top button:nth-child(3){
	background: #02d389;
	margin-right: 5px;
}
#change-font-family{
	font-family: var(--font-family);
}
#customize-text-boxes{
	position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.customize-area{
	max-width: 450px;
	height: 600px;
	position: relative;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.12), 0 8px 5px -5px rgba(0,0,0,.3);
}
.customize-area .text-box{
	list-style: none;
	padding: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.customize-area .text-box .remove{
	position: absolute;
	left: 0;
	bottom: -8px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	display: none;
}
.customize-area .text-box .remove:before{
	font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f2ed";
}
.customize-area .text-box.active .remove{
	display: block;
}
.customize-area .text-box .header{
	height: 10px;
	width: 100%;
	cursor: pointer;
}
.customize-area .text-box textarea{
	outline: none;
    border: none;
    background: none;
    resize: none;
    padding: 0px 20px;
    line-height: 2;
    overflow-y: hidden;
}
.customize-area .text-box.active textarea{
	background: rgba(0, 0, 0, 0.1);
}
.customize-area:hover textarea, .customize-area .text-box.active textarea{
	outline-offset: -2px;
    outline-width: 2px;
    outline-style: dashed;
    outline-color: inherit;
}
/*-------- design one -------------*/
.customize-area.design-one {
	background: url(../images/customize.jpg);
	background-size: cover;
	background-position: center;
}
.customize-area.design-one .text-box:nth-child(1){
	top: 200px;
}
.customize-area.design-one .text-box:nth-child(3){
	top: 400px;
}
.customize-area.design-one .text-box:nth-child(1) textarea{
	font-family: 'Margarine', cursive;
	font-size: 14px;
	color: red;
	text-align: center;
}
.customize-area.design-one .text-box:nth-child(2) textarea{
	font-family: 'Dancing Script', cursive;
	font-size: 16px;
	color: green;
	text-align: left;
}
.customize-area.design-one .text-box:nth-child(3) textarea{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: skyblue;
	text-align: left;
}
.customize-area .customize-options{
	position: absolute;
	left: 100%;
	z-index: 9;
	transform: translateY(-50%);
}
.customize-options{
	background: #fff;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
	padding: 20px;
	border-radius: 3px;
	width: 250px;
	display: none;
	position: relative;
}
.customize-options:before{
	content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
    box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.2);
}
.customize-options.active{
	display: block;
}
.customize-options h4{
	text-align: center;
	margin-bottom: 20px;
}
.customize-options .font-family{
	margin-bottom: 20px;
	position: relative;
}
.customize-options .font-family p{
	border: 1px solid #d3d3d3;
	padding: 5px 15px;
	margin-bottom: 0px;
	border-radius: 3px;
	cursor: pointer;
}
.customize-options .font-family p i{
	float: right;
	margin-top: 5px;
}
.customize-options .font-family ul{
	padding: 10px 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    display: none;
}
.customize-options .font-family ul.open{
	display: block;
}
.customize-options .font-family li{
	list-style: none;
	cursor: pointer;
	line-height: 30px;
}
.customize-options .font-family li:nth-child(1){
	font-family: 'Roboto', sans-serif;
}
.customize-options .font-family li:nth-child(2){
	font-family: 'Margarine', cursive;
}
.customize-options .font-family li:nth-child(3){
	font-family: 'Dancing Script', cursive;
}
.customize-options .font-size p{
	margin-bottom: 0px;
}
.customize-options .font-size input[type=range]{
	height: 28px;
	-webkit-appearance: none;
	margin-bottom: 20px;
	width: 100%;
}
.customize-options input[type=range]:focus {
  outline: none;
}
.customize-options input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E8E8E8;
  border-radius: 10px;
  border: 0px solid #000000;
}
.customize-options input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #E5E5E5;
  border: 1px solid #E5E5E5;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
.customize-options input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E8E8E8;
}
.customize-options input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E8E8E8;
  border-radius: 10px;
  border: 0px solid #000000;
}
.customize-options input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #E5E5E5;
  border: 1px solid #E5E5E5;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
.customize-options input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.customize-options input[type=range]::-ms-fill-lower {
  background: #E8E8E8;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
.customize-options input[type=range]::-ms-fill-upper {
  background: #E8E8E8;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
.customize-options input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #E5E5E5;
  border: 1px solid #E5E5E5;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
.customize-options input[type=range]:focus::-ms-fill-lower {
  background: #E8E8E8;
}
.customize-options input[type=range]:focus::-ms-fill-upper {
  background: #E8E8E8;
}
.customize-options .color-box{
	margin-bottom: 10px;
}
.customize-options .color-box div{
	height: 20px;
	width: 20px;
	border: 2px solid transparent;
	border-radius: 100%;
	background: red;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
}
.customize-options .color-box div:nth-child(1){
	background: #92844f;
}
.customize-options .color-box div:nth-child(2){
	background: #ec2e25;
}
.customize-options .color-box div:nth-child(3){
	background: #f48586;
}
.customize-options .color-box div:nth-child(4){
	background: #686868;
}
.customize-options .color-box div:nth-child(5){
	background: #788a39;
}
.customize-options .color-box div:nth-child(6){
	background: #FFB400;
}
.customize-options .color-box div:nth-child(7){
	background: #E53D39;
}
.customize-options .color-box div:nth-child(8){
	background: #2C91DE;
}
.customize-options .color-box div:nth-child(9){
	background: #000000;
}
.customize-options .color-box div:nth-child(10){
	background: #FFFFFF;
	border-color: #e8e8e8;
}
.customize-options .color-box div:nth-child(11){
	background: #970E65;
}
.customize-options .color-box div:nth-child(12){
	background: #650633;
}
.customize-options .color-box div:nth-child(13){
	background: #F3A2A3;
}
.customize-options .color-box div:nth-child(14){
	background: #D44F70;
}
.customize-options .color-box div:nth-child(15){
	background: #CA0B15;
}
.customize-options .color-box div:nth-child(16){
	background: #97070E;
}
.customize-options .color-box div:nth-child(17){
	background: #650508;
}
.customize-options .color-box div:nth-child(18){
	background: #F35D19;
}
.customize-options .color-box div:nth-child(19){
	background: #9E5727;
}
.customize-options .color-box div:nth-child(20){
	background: #D8B571;
}
.customize-options .color-box div:nth-child(21){
	background: #978454;
}
.customize-options .color-box div:nth-child(22){
	background: #65320C;
}
.customize-options .color-box div:nth-child(23){
	background: #8793D6;
}
.customize-options .color-box div:nth-child(24){
	background: #866AA5;
}
.customize-options .color-box div:nth-child(25){
	background: #552978;
}
.customize-options .color-box div:nth-child(26){
	background: #1D549F;
}
.customize-options .color-box div:nth-child(27){
	background: #073464;
}
.customize-options .color-box div:nth-child(28){
	background: #55B2AE;
}
.customize-options .color-box div:nth-child(29){
	background: #D5D5D5;
}
.customize-options .color-box div:nth-child(30){
	background: #FFFAA3;
}
.customize-options .color-box div:nth-child(31){
	background: #C0CFAF;
}
.customize-options .color-box div:nth-child(32){
	background: #469E57;
}
.customize-options .text-align{
	overflow: hidden;
	text-align: center;
	border-top: 1px solid #acacac;
	border-bottom: 1px solid #acacac;
	padding: 10px 0px;
	font-size: 20px;
}
.customize-options .text-align > div{
	display: inline-block;
	cursor: pointer;
	color: #acacac;
}
.customize-options .text-align .left{
	float: left;
}
.customize-options .text-align .right{
	float: right;
}